.add-todo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(0);
  background: #fff;
  transition: var(--transition);
  background: var(--secondary-alpha);
}
