.edit-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(0);
  background: var(--primary-alpha);
  transition: all 0.3s ease;

  &__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
      position: relative;
      margin-right: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .input {
        width: 250px;
        padding: 0.7rem;
        border: none;
        border-radius: 3px;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 1rem 0;
      }

      .input:focus {
        outline: none;
      }

      .input:focus::placeholder {
        color: transparent;
      }
    }

    &-close {
      cursor: pointer;
      color: var(--secondary);
    }
  }
}
