.edit-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.3s ease;

  &__inner {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
      position: relative;
      background: var(--secondary);
      padding: 2rem 4rem;
      color: var(--primary);
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 1rem;
      border-radius: 3px;
      border-top: 5px solid var(--primary);
      margin-top: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__one,
      &__two,
      &__three {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 1rem;

        label {
          margin: 0;
        }

        .input {
          width: 250px;
          padding: 0.7rem;
          border: none;
          border-radius: 3px;
          font-size: 1rem;
          letter-spacing: 1px;
          font-weight: 500;
          margin: 0.5rem 0;
        }

        .input:focus {
          outline: none;
          border-bottom: 0.2rem solid var(--primary);
          padding: 0.6rem 0.7rem;
        }

        .input:focus::placeholder {
          color: transparent;
        }
      }

      button {
        color: var(--secondary);
        border: none;
        background: var(--primary);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 3px;
        cursor: pointer;
      }

      button:hover {
        background: var(--hover1);
        transition: all 0.3s ease;
      }
    }

    &-close {
      cursor: pointer;
      color: var(--primary);
    }

    &-close:hover {
      color: var(--hover1);
      transition: all 0.3s ease;
    }
  }
}
