.edit__todo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(0);
  background: #fff;
  transition: var(--transition);
  background: var(--secondary-alpha);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-close {
    cursor: pointer;
    color: var(--primary);
    transition: var(--transition);
  }

  &-close:hover {
    text-shadow: 0 0 10px var(--primary);
  }

  form {
    margin-top: 1rem;
    width: 400px;
    background: var(--primary);
    padding: 2rem;
    padding-top: 1rem;
    border-radius: var(--border-radius);
    color: var(--secondary);
    letter-spacing: 1px;
    font-weight: 500;
  }

  &__input,
  &__description,
  &__priority,
  &__date {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  &__input {
    .input {
      padding: 0.7rem;
      margin-top: 0.5rem;
      border-radius: var(--border-radius);
      border: none;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      font-family: inherit;
    }

    .input:focus {
      outline: none;
      box-shadow: 0 0 20px var(--secondary);
    }

    .input:focus::placeholder {
      color: transparent;
    }
  }

  &__description {
    textarea {
      border-radius: var(--border-radius);
      border: none;
      margin-top: 0.5rem;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      font-family: inherit;
      padding: 0.8rem;
    }

    textarea:focus {
      outline: none;
      box-shadow: 0 0 20px var(--secondary);
    }

    textarea:focus::placeholder {
      color: transparent;
    }
  }

  &__date {
    input {
      padding: 0.7rem;
      border-radius: var(--border-radius);
      border: none;
      margin-top: 0.5rem;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      width: 130px;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 20px var(--secondary);
    }
  }

  &__priority {
    input {
      width: 100px;
      text-transform: capitalize;
      padding: 0.7rem;
      margin-top: 0.5rem;
      border-radius: var(--border-radius);
      border: none;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      font-family: inherit;
    }
  }

  &__submit {
    button {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
      font-family: inherit;
      margin-top: 0.5rem;
      cursor: pointer;
      background: var(--secondary);
      color: var(--primary);
      transition: var(--transition);
    }

    button:hover {
      background: var(--hover);
    }
  }
}

/*.edit__todo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(0);
  background: var(--secondary-alpha);
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
      width: 400px;
      position: relative;
      background: var(--primary);
      padding: 2rem;
      color: var(--secondary);
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 1rem;
      border-radius: 3px;
      margin-top: 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__one,
      &__two,
      &__three {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 1rem;
        margin-right: 2rem;

        .heading {
          margin-top: 0;
          margin-bottom: 2rem;
        }

        label {
          margin: 0;
          font-weight: bold;
        }

        .input {
          width: 100%;
          font-family: inherit;
          padding: 0.7rem;
          border: none;
          border-radius: 3px;
          font-size: 1rem;
          letter-spacing: 1px;
          font-weight: 500;
          margin: 0.5rem 0;
          background: #fff;
          text-transform: capitalize;
        }

        .input:focus {
          outline: none;
          box-shadow: 0 0 2px var(--primary);
        }

        .input:focus::placeholder {
          color: transparent;
        }
      }

      &__three {
        margin-bottom: 2rem;
      }

      button {
        font-family: inherit;
        color: var(--primary);
        border: none;
        background: var(--secondary);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 0.5rem;
      }

      button:hover {
        background: var(--hover);
        transition: all 0.3s ease;
      }
    }

    &-close {
      cursor: pointer;
      color: var(--primary);
    }

    &-close:hover {
      color: var(--hover1);
      transition: all 0.3s ease;
    }
  }
}*/
