@import '../Pages/Home/home';
@import '../components/Header/header';
@import '../components/Navigation/Navigation.scss';
@import '../components/TodoList/todoList';
@import '../components/EditTodo/editTodo';
@import '../components/CreateTodo/createTodo';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --primary: #0d253f;
  --secondary: #90cea1;

  --primary-alpha: rgba(13, 37, 63, 0.95);
  --secondary-alpha: rgba(144, 206, 161, 0.95);

  --hover: #75b386;
  --hover1: #143961;

  --box-shadow: 0 0 10px #90cea1;

  --border-radius: 3px;

  --transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: var(--secondary);
}
