.error {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
  background: tomato;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 3px;
}

.task-list {
  padding-top: 25rem;
  max-width: 1280px;
  margin-bottom: 5rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__task {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #fff;
    margin: 1rem 0;
    padding: 0 1rem;
    padding-right: 0;
    border-radius: var(--border-radius);
    transition: var(--transition);

    .one {
      display: flex;
      align-items: center;
      justify-content: center;

      .pending i,
      .completed i {
        color: green;
        cursor: pointer;
        transition: var(--transition);
      }

      .pending i:hover,
      .completed i:hover {
        color: rgb(0, 78, 0);
      }

      .priority {
        width: 80px;
        margin: 0 1rem;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 1rem;
        display: inline-block;
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
      }

      .name {
        letter-spacing: 1px;
        font-weight: 500;
        color: var(--primary);
      }
    }

    .two {
      .date {
        width: 120px;
        background: #28282b;
        color: #fff;
        padding: 1rem;
        display: inline-block;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .edit,
      .delete {
        padding: 1.1rem;
        color: #fff;
        cursor: pointer;
        transition: var(--transition);
      }

      .edit {
        background: dodgerblue;
      }

      .delete {
        background: red;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }

      .edit:hover {
        background: rgb(0, 97, 195);
      }

      .delete:hover {
        background: rgb(183, 0, 0);
      }
    }
  }

  &__task:hover {
    box-shadow: 0 0 10px var(--primary);
  }
}

.red {
  background: tomato;
  color: #fff;
}

.orange {
  background: orange;
  color: #fff;
}

.green {
  background: green;
  color: #fff;
}
