.error {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
  background: tomato;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 3px;
}

.task__list {
  padding-top: 25rem;
  max-width: 1280px;
  margin-bottom: 5rem;
  cursor: pointer;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__task {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
    box-shadow: 5px 5px 5px var(--primary);

    .one {
      width: 92%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--primary);
      padding: 1rem;
      overflow: hidden;
      border-radius: var(--border-radius);

      .date {
        color: #fff;
        padding: 0.5rem 0;
        margin-right: 1rem;
        display: inline-block;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 50px;
        pointer-events: none;
      }

      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;

        .pending i,
        .completed i {
          color: greenyellow;
          cursor: pointer;
          transition: var(--transition);
          padding: 0;
        }

        .pending i:hover,
        .completed i:hover {
          text-shadow: 0 0 5px greenyellow;
        }

        .edit,
        .delete {
          padding: 0.5rem;
          margin-left: 1rem;
          color: #fff;
          cursor: pointer;
          transition: var(--transition);
          border-radius: 50px;
        }

        .edit {
          background: dodgerblue;
        }

        .delete {
          background: red;
        }

        .edit:hover {
          box-shadow: 0 0 10px dodgerblue;
        }

        .delete:hover {
          box-shadow: 0 0 10px tomato;
        }
      }
    }

    .two {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      padding-top: 2rem;

      .priority {
        margin: 0;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 0.2rem 0.5rem;
        display: inline-block;
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
        border-radius: var(--border-radius);
        pointer-events: none;
        box-shadow: 2px 2px 2px var(--primary);
      }

      .name {
        display: inline-block;
        padding: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 50px;
        color: var(--primary);
        pointer-events: none;
      }
    }
  }

  &__task:hover {
    background: rgb(220, 220, 220);
  }
}

.red {
  background: tomato;
  color: #fff;
}

.orange {
  background: orange;
  color: #fff;
}

.green {
  background: green;
  color: #fff;
}
